## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

os:
  - linux
#  - osx

julia:
  - 1.2
#  - nightly

notifications:
  email: false

#matrix:
#  allow_failures:
#    - julia: nightly

addons:
  apt:
      packages: gnuplot5
#  homebrew:
#      packages: gnuplot


## uncomment the following lines to override the default test script
#script:
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("Gnuplot"); Pkg.test("Gnuplot"; coverage=true)'

# after_success:
#   # push coverage results to Coveralls
#   - julia -e 'cd(Pkg.dir("Gnuplot")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
#   # push coverage results to Codecov
#   - julia -e 'cd(Pkg.dir("Gnuplot")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
